<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Clique</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" type="image/jpg" href="assets/logo.svg"/>
    <!-- <link rel="stylesheet" href="css/login.css"> -->
</head> 
<body>
    <nav class="navigation">
        <img class="navigation__logo" src="assets/logo.svg" alt="website logo">
        <span class="navigation__brand" notranslate>Clique</span>
        <div class="navigation__button" id="navigation__sign-up">Sign Up</div>
    </nav>
    <div class="signin-box-with-google">
        <img id="sigin-box__user-avatar" src="assets/login/user-avatar-lines.svg" alt="User Avatar">
        <div class="font-weight-600" id="signin-box__signin-text">Sign In</div>
        <div id="signin-box__signup"><span class="font-weight-300">New here ? </span><span class="font-weight-600">Sign Up</span></div>
        <form class="signin_form">
            <input class="signin_form-username" type="text" id="username" placeholder="Username" spellcheck="false">
            <input type="password" id="password" placeholder="Password">
            <input class="signin_form_with_google-button" id="submit" type="submit" value="Sign In">
            <div class="signin-box__or-text">or</div>
            <input class="signin_form-button continue-using-google-button" type="button" value="Login Using Google">
        </form>
    </div>
</body>
</html>