<html>
    <head>
        <title>create post page</title>
        <link rel="stylesheet" href="css/posts.css" />
    </head>

    <body>
        <nav class="post-section-div">
            <span class="post-section-para0">clique</span>
        </nav>
        <div class="post-section-div1">
        <form class="post-section-form-title">
            <textarea
                class="post-section-textarea-title"
                rows="20"
                cols="10"
                name="description"
            >
                New post title here.....
            </textarea>
        </form>
        <hr />

        <div class="post-section-content-div3">
            <form class="post-section-form">
                <textarea
                    class="post-section-textarea"
                    rows="5"
                    cols="60"
                    name="description"
                >
                write your post content here..
                </textarea>
            </form>
        </div>
    </body>
</html>
