<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Clique</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" type="image/jpg" href="assets/logo.svg"/>
</head> 
<body>
    <nav class="navigation">
        <img class="navigation__logo" src="assets/logo.svg" alt="website logo">
        <span class="navigation__brand" notranslate>Clique</span>
        <div class="navigation__button" id="navigation__sign-up">Sign In</div>
    </nav>
    <div data-orientation="horizontal" role="separator" class="gVAEAh"></div>
    <div class="signin-box presignup-box">
        <img id="sigin-box__user-avatar" src="assets/logo-with-bg.svg" alt="Brand logo">
        <div class="font-weight-600" id="signin-box__signin-text">Create your Clique account</div>
        <form class="signin_form">
            <input class="presignup_form-button" id="submit" type="submit" value="Continue with Email">
            <input class="signin_form-button continue-using-google-button" type="button" value="Continue with Google">
        </form>
    </div>
</body>
</html>