<html>
    <head>
        <link rel="stylesheet" href="signup.css">
    </head>
    <body>
        <!-- Nav bar -->
        <div class="navbar">
            <ul>
                <li>
                    <img src="Vector.png" class="logo">
                </li>
                <li>
                    <h1 class="Clique">Clique</h1>
                </li>
                <li>
                    <a href=""><button type="button" class="signup-btn">Signup</button></a>
                </li>
            </ul>
        </div>
        <!-- Signin -->
        <div class="Sign-in">
            <img src="signup.jpeg" class="logo2">
            <h3>Sign In</h3>
            <form action="">
                <input type="email" class="input-box" placeholder="Username/Email">
                <input type="password" class="input-box" placeholder="Password"> 
                <button type="button" class="signin-btn">Sign In</button>
                <p class="or">or</p>
                <button type="button" class="signin-btn">Login Using Google</button>
            </form>

        </div>
    </body>
</html>